* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bold-font;
    src: url(../blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf)
}

@font-face {
    font-family: medium-font;
    src: url(../blog-preview-card-main/assets/fonts/static/Figtree-Medium.ttf)
}

body {
    background-color: #f5d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    padding: 1px;
}

.blog {
    margin: 0 auto;
    max-width: 24rem;
    height: auto;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px #040404;
    padding: 1.5rem;
}

.image {
    margin: 0 0 1.5rem 0;
}

.image img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.learning {
    width: 82px;
    height: 29px;
    background-color: #F4D04E;
    border-style: none;
    border-radius: 4px;
    font-family: bold-font;
    font-size: 0.875rem;
}

.date {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.875rem;
    font-family: medium-font;
}

.blog-title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: bold-font;
}

.blog-description {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: #6B6B6B;
    line-height: 1.5;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    height: 32px;
    width: 32px;
    margin-right: 12px;
}

.name {
    font-family: bold-font;
}

@media (max-width: 425px) {
    .blog-title {
        font-size: 1.25rem;
    }

    .blog-description {
        font-size: 0.9rem;
    }
}