* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bold-font;
    src: url(../blog-preview-card-main/assets/fonts/static/Figtree-ExtraBold.ttf)
}

@font-face {
    font-family: medium-font;
    src: url(../blog-preview-card-main/assets/fonts/static/Figtree-Medium.ttf)
}

body {
    background-color: #f5d04e;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    margin: 0;
}

.blog {
    margin: 0 auto;
    height: 32.625rem;
    width: 24rem;
    background-color: white;
    border: 1.5px solid black;
    border-radius: 20px;
    box-shadow: 8px 8px #040404;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 24px;
}

img {
    border-radius: 10px;
    width: 336px;
    height: 200px;
}

.learning {
    margin-left: 24px;
    width: 82px;
    height: 29px;
    background-color: #F4D04E;
    border-style: none;
    border-radius: 4px;
    font-family: bold-font;
    font-size: 0.875rem;
}

.date {
    margin: 20px 24px;
    font-size: 0.875rem;
    font-family: medium-font;
}

.tag {
    margin: 20px 24px;
    font-size: 1.5rem;
    font-family: bold-font;
}

.data {
    margin: 20px 24px;
    font-size: 1rem;
    color: #6B6B6B;
    max-width: 20vw;
}

.profile {
    display: flex;
}

.profile img {
    height: 32px;
    width: 32px;
    margin: 0 12px 0 24px;
    display: flex;
}

.name {
    display: flex;
    align-items: center;
    font-family: bold-font;
}
